.space-5 {
  display: block;
  width: 100%;
  height: 5px;
}

.space-10 {
  display: block;
  width: 100%;
  height: 10px;
}

.space-15 {
  display: block;
  width: 100%;
  height: 15px;
}

.space-20 {
  display: block;
  width: 100%;
  height: 20px;
}

.space-25 {
  display: block;
  width: 100%;
  height: 25px;
}

.space-30 {
  display: block;
  width: 100%;
  height: 30px;
}

.space-35 {
  display: block;
  width: 100%;
  height: 35px;
}

.space-40 {
  display: block;
  width: 100%;
  height: 40px;
}

.space-45 {
  display: block;
  width: 100%;
  height: 45px;
}

.space-50 {
  display: block;
  width: 100%;
  height: 50px;
}

.space-55 {
  display: block;
  width: 100%;
  height: 55px;
}

.space-60 {
  display: block;
  width: 100%;
  height: 60px;
}

.space-65 {
  display: block;
  width: 100%;
  height: 65px;
}

.space-70 {
  display: block;
  width: 100%;
  height: 70px;
}

.space-75 {
  display: block;
  width: 100%;
  height: 75px;
}

.space-80 {
  display: block;
  width: 100%;
  height: 80px;
}

.space-85 {
  display: block;
  width: 100%;
  height: 85px;
}

.space-90 {
  display: block;
  width: 100%;
  height: 90px;
}

.space-95 {
  display: block;
  width: 100%;
  height: 95px;
}

.space-100 {
  display: block;
  width: 100%;
  height: 100px;
}
